{
    "schemaVersion": "1.0",
    "artifacts": {
        "swiftformat": {
            "version": "__VERSION__",
            "type": "executable",
            "source": "https://github.com/astmnk/SwiftFormat/releases/tag/__VERSION__",
            "variants": [
                {
                    "path": "swiftformat",
                    "supportedTriples": ["x86_64-apple-macosx", "arm64-apple-macosx"]
                }
            ]
        }
    }
}
